<SGSConfig xmlns="SGSDatatype" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">
  <AddCellTime>S</AddCellTime>
  <AddContTimePoint>D</AddContTimePoint>
  <AddEndTime>X</AddEndTime>
  <AddStartTime>Z</AddStartTime>
  <AddTimePoint>A</AddTimePoint>
  <AutoOverlapCorrection>true</AutoOverlapCorrection>
  <AutoSaveLifeTime>24</AutoSaveLifeTime>
  <AutoSavePeriod>300</AutoSavePeriod>
  <CommentMark>37</CommentMark>
  <EndOffset>-0.1</EndOffset>
  <EnterEditMode>F1</EnterEditMode>
  <GotoCurrent>E</GotoCurrent>
  <GotoPrevious>R</GotoPrevious>
  <HolePlaceholder>35</HolePlaceholder>
  <InsertTag>None</InsertTag>
  <LayoutName>Translation</LayoutName>
  <LineLength>16</LineLength>
  <MiniTrimMinus>O</MiniTrimMinus>
  <MiniTrimPlus>P</MiniTrimPlus>
  <MinitrimStep>0.2</MinitrimStep>
  <Pause>Space</Pause>
  <PlayerFF>F</PlayerFF>
  <PlayerJumpto>None</PlayerJumpto>
  <PlayerRW>B</PlayerRW>
  <PlayerTogglePause>P</PlayerTogglePause>
  <SaveAss>F2</SaveAss>
  <SeekBackword>Q</SeekBackword>
  <SeekForward>W</SeekForward>
  <SeekStep>3</SeekStep>
  <SelectRowOffset>2</SelectRowOffset>
  <SetEndTime>None</SetEndTime>
  <StartOffset>-0.3</StartOffset>
  <TemplateName i:nil="true"/>
  <UncertainLeftMark>91</UncertainLeftMark>
  <UncertainRightMark>93</UncertainRightMark>
  <Version>1.1.0.1</Version>
</SGSConfig>