<SGSConfig xmlns="SGSDatatype" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">
  <AddCellTime>S</AddCellTime>
  <AddContTimePoint>D</AddContTimePoint>
  <AddEndTime>X</AddEndTime>
  <AddStartTime>Z</AddStartTime>
  <AddTimePoint>A</AddTimePoint>
  <AutoOverlapCorrection>true</AutoOverlapCorrection>
  <AutoSaveLifeTime>72</AutoSaveLifeTime>
  <AutoSavePeriod>180</AutoSavePeriod>
  <CommentMark>37</CommentMark>
  <EndOffset>-0.1</EndOffset>
  <EnterEditMode>F1</EnterEditMode>
  <GotoCurrent>E</GotoCurrent>
  <GotoPrevious>R</GotoPrevious>
  <HolePlaceholder>35</HolePlaceholder>
  <InsertTag>T</InsertTag>
  <InsertTag2>F5</InsertTag2>
  <LayoutName>Classical</LayoutName>
  <LineLength>20</LineLength>
  <MiniTrimMinus>O</MiniTrimMinus>
  <MiniTrimPlus>P</MiniTrimPlus>
  <MinitrimStep>0.2</MinitrimStep>
  <Pause>Space</Pause>
  <Player>WMPlayer</Player>
  <PlayerFF>F</PlayerFF>
  <PlayerFF2>F2</PlayerFF2>
  <PlayerJumpto>G</PlayerJumpto>
  <PlayerJumpto2>F4</PlayerJumpto2>
  <PlayerRW>B</PlayerRW>
  <PlayerRW2>F1</PlayerRW2>
  <PlayerTogglePause>P</PlayerTogglePause>
  <PlayerTogglePause2>F3</PlayerTogglePause2>
  <SaveAss>F2</SaveAss>
  <SeekBackword>Q</SeekBackword>
  <SeekForward>W</SeekForward>
  <SeekStep>3</SeekStep>
  <SelectRowOffset>2</SelectRowOffset>
  <SetEndTime>None</SetEndTime>
  <StartOffset>-0.3</StartOffset>
  <TemplateName i:nil="true"/>
  <UncertainLeftMark>91</UncertainLeftMark>
  <UncertainRightMark>93</UncertainRightMark>
  <Version>2.0.0.228</Version>
</SGSConfig>